#container{
    @include mobile{
        width: 100%;
    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    background-color: #637c99;
    @include mobile{
        justify-content: center;
        flex-direction: column;
    }

    .header_logo{
        .img{
            width: 10em;
        }
        @include mobile{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .header_menu{
        text-align: center;
        a{
            text-decoration: none;
            color: #050300;
        }
        .mobile-menu{
            display: none;
            .iconmenu{
                position: absolute;
                left: 1em;
                top: 0.3em;
                font-size: 2em;
            }
            .iconcontact{
                position: absolute;
                right: 1em;
                top: 0.3em;
                font-size: 2em;
            }
            @include mobile{
                display: inline;
            }
        }
        .menu{
            position: relative;
            display: flex;
            list-style: none;
            right: 4;
            a{
                color: #c3baba;
                font-family: $font-family2;
                font-weight: bold;
            }
            li{
                margin-left: 1em;
            }
            @include mobile{
                flex-direction: column;
                align-items: flex-start;
                opacity: 0.9;
                right: 0;
                top: 3.1em;
                line-height: 2em;
                bottom: 0;
                background-color: #050101;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 9em;
                font-size: 1.2em;
                transition: all ease-out 30ms;
                li{
                    border-bottom: whitesmoke solid;
                }
            }
        }
    }
}


.slider{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
    @include mobile{
        height: 35em;
    }

    .slider_titre{
        text-align: center;
        padding-top: 1em;
        color: #ffffffdb;
        font-size: 1.8em;
    }
    .slider_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1em auto 0 auto;
        width: 100%;
        height: 20em;
        background-color: whitesmoke;
        border-radius: 1em;
        box-shadow: 0.1em 0.1em 1em 0.3em rgb(80, 161, 138);
        .titre{
            margin-bottom: -4em;
        }
        #searchform{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            #rechercher{
                display: block;
                text-align-last: center;
                width: auto;
                height: 3em;
                border-radius: 1em;
                margin-bottom: 1em;
                text-overflow: '';
                -webkit-appearance: none;
                -moz-appearance: none;
                font-family: $font-family2;
                font-size: 1.3em;
                background: #c3baba;
            }
            #submit{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10em;
                height: 4em;
                margin-right: auto;
                margin-left: auto;
                border-radius: 1em;
                color: white;
                background-color: blueviolet;
                border: none;
                cursor: pointer;
                font-family: $font-family2;
                font-size: 1.2em;
            }
        }

        @include tablet{
            width: 25em;
        }
        @include laptop{
            width: 35em;
        }
        @include desktop{
            width: 40em;
        }
        @include desktopxxl{
            width: 40em;
        }
    }
}


.top-rent{
    display: flex;
    flex-direction: column;

    .top-rent_titre{
        @include h2;
        margin-top: 1em;
    }

    .top-rent_hebergement{
        display: flex;
        flex-wrap: wrap;

        

        .top-rent_hebergement_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            height: 20em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 1em ;
            background-color: aliceblue;
            cursor: pointer;
            transition: all 1s ease-out;
            &:hover{
                box-shadow: 0.1em 0.2em 0.2em 0 darkorange;
                transition: all 0.4s ease-in-out;
            }

            img{
                object-fit: cover;
                height: 80%;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 1em 1em 0 0;
            }

            a{
                font-family: $font-family2;
                position: absolute;
                text-decoration: none;
                color: whitesmoke;

            }

            .details{
                display: flex;
                margin: 0;
                padding: 0;
                border-radius: 0 0 1em 1em ;
                .titre-ville{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 0.5em;
                    .titre-logement{
                        margin-left: 1em;
                        font-weight: bolder;
                    }
                    .ville-logement{
                        margin-right: 1em;
                        font-weight: bolder;
                    }
                }
                .prix-nuite{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .apt-icons{
                        display: flex;
                        width: 60%;
                        justify-content: space-between;
                        margin-left: 0.5em;
                        .apt-iconswork{
                            display: flex;
                        }
                    }
                    .prix-logement{
                        margin-right: 1em;
                        font-family: $font-family2;
                        font-size: 1em;
                        font-weight: bold;
                        @include mobile{
                            margin-right: 0;
                        }
                    }
                }
            }

            @include tablet{
                width: 18em;
            }
            @include laptop{
                width: 25em;
            }
            @include desktop{
                width: 25em;
            }
            @include desktopxxl{
                width: 25em;
            }
        }
    }

    .top-rent_explorer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .titre{
            @include h2;
            margin-bottom: 1em;
        }
        .btn-logements{
            @include button-explorer;

        }
    }
}

.footer{
    margin-top: 1em;
    display: flex;
    background-color: #f5f4f2;
    flex-direction: column;
    .footer_1{
        @include footer-liste-style
    }
    .footer_2{
        @include footer-liste-style
    }
    .footer_3{
        @include footer-liste-style
    }

    @include tablet{
        flex-direction: row;
        justify-content: space-around;
    }
    @include laptop{
        flex-direction: row;
        justify-content: space-around;
    }
    @include desktop{
        flex-direction: row;
        justify-content: space-around;
    }
    @include desktopxxl{
        flex-direction: row;
        justify-content: space-around;
    }
}